<section class="p-5 bg-light rounded">
    <h1>Hola, {{nombre}}</h1>

    <p class="lead">
        {{mensaje}}
    </p>

    <p>
        Esta página fue renderizada usando Express y Handlebars.
    </p>

    <a href="/productos" class="btn btn-primary">
        Ver productos
    </a>
</section>