<h1>{{titulo}}</h1>

<p>
    Estos productos son datos enviados desde Node hacia Handlebars.
</p>

<div class="row">
    {{#each productos}}
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{nombre}}</h5>

                <p class="card-text">
                    Precio: ${{precio}}
                </p>

                <p class="card-text">
                    Importante: {{esImportante importante}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>