<section class="card">
    <div class="card-body">
        <h1>Bienvenido, {{mayuscula nombre}}</h1>

        <p>
            Este nombre viene desde la URL usando <strong>req.params</strong>.
        </p>

        <p>
            Prueba cambiando la URL:
        </p>

        <code>/usuario/Ana</code><br>
        <code>/usuario/Carlos</code><br>
        <code>/usuario/Francisca</code>
    </div>
</section>